<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>

    <File name="file" fileName=".\src\main\java\logging\logs\myApp.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
      </PatternLayout>
    </File>

    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="Class:%c\t Method:%M\t Message:%m%n"/>
    </Console>

  </Appenders>
  <Loggers>
    <Logger name="logging.Main" level = "TRACE" additivity="false">
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="file" level="DEBUG"/>
      <AppenderRef ref="STDOUT" level="ERROR"/>
    </Root>
  </Loggers>
</Configuration>
